body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

input, button {
  padding: 10px;
  margin: 10px;
  width: 90%;
  max-width: 300px;
}

button {
  cursor: pointer;
}

img {
  width: 150px;
  margin: 10px;
  border-radius: 8px;
}
